@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot');
    /* src: url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.woff') format('woff'), url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.ttf') format('truetype'), url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.svg#slick') format('svg'); */
    src: url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.woff') format('woff'), url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.ttf') format('truetype');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: calc(190px/2 + 50px/2);

    display: block;

    /* width: 50px;
    height: 50px; */
    padding: 0;
    /* -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); */

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before
{
    opacity: 1;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 50px;
    opacity: .75;
    color: var(--accent-color);
}
@media (max-width: 539px) {
  .slick-prev {
    left: -20px;
  }
  .slick-next {
    right: -20px;
  }
}
@media (min-width: 540px) {
  .slick-prev {
    left: -50px;
  }
  .slick-next {
    right: -50px;
  }
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
