:root {
  --main-bg: linear-gradient(165deg, #251431 0%, #161130 22%);
  --main-text-color: #FFFFFF;
  --toggle-btn-img: url(../assets/sun.svg);
  --accent-color: #EB4E7A;
  --secondary-bg: #1C262B;
  --third-bg: #1C262B;
}
:root[data-theme='light'] {
  --main-bg:#CCCCCC;
  --main-text-color: #000000;
  --toggle-btn-img: url(../assets/moon.svg);
  --accent-color: #4E9FEB;
  --secondary-bg: #6B6A6A;
  --third-bg: #FFFFFF;
}
button {
  color: var(--main-text-color);
}
.container {
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 80%;
}
@media (max-width: 479px) {
  .container {
    max-width: 90%;
  }
}

/* Slider */
.slick-loading .slick-list
{
    background: #fff url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot');
    /* src: url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.woff') format('woff'), url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.ttf') format('truetype'), url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.svg#slick') format('svg'); */
    src: url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.woff') format('woff'), url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.ttf') format('truetype');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: calc(50% - 50px/2);

    display: block;

    /* width: 50px;
    height: 50px; */
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before
{
    opacity: 1;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 50px;
    opacity: .75;
    color: var(--accent-color);
}
@media (max-width: 539px) {
  .slick-prev {
    left: -20px;
  }
  .slick-next {
    right: -20px;
  }
}
@media (min-width: 540px) {
  .slick-prev {
    left: -50px;
  }
  .slick-next {
    right: -50px;
  }
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@media (min-width: 640px) {
  .autocomplete-input {
    border: none;
    outline: none;
    margin: 0;
    width: 146px;
  }
}
@media (min-width: 480px) and (max-width: 639px) {
  .autocomplete-input {
    border: none;
    outline: none;
    margin: 0;
    width: 166px;
  }
}
@media (max-width: 479px) {
  .autocomplete-input {
    border: none;
    outline: none;
    margin: 0;
    width: 276px;
  }
}
.autocomplete-input:focus,
.autocomplete-input[aria-expanded="true"] {
  background-color: #fff;
}
.autocomplete-result-list {
  margin: 0;
  padding: 0;
  background: #fff;
  list-style: none;
}
.autocomplete-result {
  color: black;
  padding: 1px 2px;
}