.slick-prev:before, .slick-next:before { 
  color:red !important;
}
.slick-prev {
  left: 0;
  z-index: 100500;
}
.slick-next {
  right: 30px;
  z-index: 100500;
}
.slick-prev:before, .slick-next:before {
  color: red;
  font-size: 50px
}
#app {
    margin-top: 0 !important;
    /* text-align: center !important; */
}
body {
    margin: 0 !important;
}
/* .router-link-exact-active.router-link-active {
  z-index: 100500;
  position: absolute;
  text-align: left !important;
  top: 5%;
  left: 10%;
} */