// colors
$white: #fff !default;
$bootstrap-primary: #20a8d8 !default;
$bootstrap-primary-hover: #1b8eb7 !default;
$bootstrap-form-control-grey: #515b65 !default;
$bootstrap-form-control-border: #23282c !default;
